body {
    bottom: 0;
    font-family: "Titillium Web", sans-serif;
    color: white;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: 0px 0px;
    overflow: hidden;
}
  
.container {
position: relative;
background:rgba(0, 0, 0, 0);
}

.video {
position: fixed;
top: 0;
left: 0;
}

.canvas {
position: fixed;
/* height: 720px;
width: 1280px; */
max-width: 100%;
max-height: 100%;
left: 0;
top: 0;
}